---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import firma_logo from "../assets/firma.png";
import InfoCard from "../components/InfoCard.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="pt-10">
    <div class="container mx-auto px-4">
      <h1 class="text-5xl font-bold text-center text-gray-800">
        Portal de Firma Digital de la <br />Universidad Nacional de San Juan
      </h1>
    </div>
    <main class="mt-10">
      <Hero
        title="¿Qué es la Firma Digital?"
        imageUrl={firma_logo}
        imageAlt="Imagen representativa de firma digital"
        ctaText="Leer Más"
        ctaLink="/mas-info"
      >
        <span slot="subtitle">
          La firma digital es un mecanismo criptográfico que permite garantizar
          la autenticidad, integridad y no repudio de documentos electrónicos.
          La{" "}
          <a
            href="https://digesto.unsj.edu.ar/admin/digesto_admin/pdf/ORD12O-25R12519.pdf"
            target="_blank"
            class="text-red-800 font-medium hover:text-red-700 no-underline"
          >
            Ordenanza 12/25-R
          </a>{" "}
          implementó en el ámbito de la UNSJ la Firma Digital con el objeto de simplificar
          los trámites mediante una paulatina despapelización de la administración.
        </span>
      </Hero>
      <section class="py-12 bg-gray-50" id="procedimientos">
        <div class="container mx-auto px-4">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <InfoCard
              badge="Uso interno UNSJ"
              title="Certificación de Firma Digital para Funcionarios"
              description="Emisión y gestión de certificados de firma digital para autoridades, funcionarios y personal autorizado de la UNSJ, conforme a la normativa vigente."
              link="/funcionarios"
              linkText="Ver procedimiento"
              accent="red"
            />

            <InfoCard
              badge="Personas externas"
              title="Certificación de Firma Digital para Terceros"
              description="Información sobre el uso de documentos firmados digitalmente por la UNSJ y validación de firmas en trámites con proveedores, organismos y particulares."
              link="/terceros"
              linkText="Conocer más"
              accent="gray"
            />
          </div>
        </div>
      </section>
    </main>
  </div>
</Layout>
