---
import Layout from "../layouts/Layout.astro";
import ProcedureIntro from "../components/procedure/ProcedureIntro.astro";
import ProcedureInfoBox from "../components/procedure/ProcedureInfoBox.astro";
import ProcedureSteps from "../components/procedure/ProcedureSteps.astro";
import ProcedureNotes from "../components/procedure/ProcedureNotes.astro";
---

<Layout>
  <section class="py-12">
    <div class="container mx-auto px-4 max-w-4xl">
      <ProcedureIntro />
      <ProcedureInfoBox />
      <ProcedureSteps />
      <ProcedureNotes />
    </div>
  </section>
</Layout>
