---
const currentYear = new Date().getFullYear();
import { Icon } from "astro-icon/components";
---

<footer class="bg-black text-gray-100 p-8 border-t border-gray-800">
  <div
    class="container mx-auto flex flex-col md:flex-row justify-between items-center gap-y-4"
  >
    <!-- Copyright -->
    <div class="text-sm">
      &copy; {currentYear} Universidad Nacional de San Juan | Oficina de Firma Digital
      | Mitre 396 Este San Juan | Tel: 0264-4295164
    </div>
    <div class="flex space-x-4">
      <a
        href="mailto:firmadigital@unsj.edu.ar"
        aria-label="Mail"
        class="flex items-center gap-2"
      >
        <Icon name="envelope" class="text-xl" />
        <span class="text-sm hidden md:inline">Enviar correo</span>
      </a>
    </div>
  </div>
</footer>
