---
import ResourceCard from "./ResourceCard.astro";
---

<section class="mb-16">
  <h2 class="text-2xl font-semibold text-gray-800 mb-6">
    Drivers para tokens criptográficos
  </h2>

  <div class="space-y-6">
    <ResourceCard
      title="Token eToken"
      description="Driver oficial para tokens eToken utilizados para firma digital."
      image="/tokens/etoken.webp"
      url="https://sitepro.com.ar/web/preguntas-frecuentes/instalacion-safenet-etoken-5110-5300/"
    />
  </div>
</section>
