---
import TutorialEmbed from "./TutorialEmbed.astro";
---

<section>
  <h2 class="text-2xl font-semibold text-gray-800 mb-6">
    Cómo firmar digitalmente: paso a paso
  </h2>

  <TutorialEmbed
    title="Con Adobe Acrobat Reader"
    description="Guía paso a paso para firmar documentos utilizando Adobe Acrobat Reader DC."
    embedUrl="https://docs.google.com/presentation/d/e/2PACX-1vSvMfE7Xtoy9LMOrPXxR3ADhho2d2MsCmwVYx0XwQ3VTt2Gy9nVWwI_EcHXDEx4bUz0SkFOnWXOrrXW/pubembed?start=false&loop=false&delayms=3000"
  />
</section>

<section>
  <h2 class="text-2xl font-semibold text-gray-800 mb-6">
    Cómo Validar una firma digital: paso a paso
  </h2>

  <TutorialEmbed
    title="Con Adobe Acrobat Reader"
    description="Guía paso a paso para instalar la Cadena de Certificados de Confianza de la AC ONTI utilizando Adobe Acrobat Reader DC."
    embedUrl="https://docs.google.com/presentation/d/e/2PACX-1vQ1rz-B1SrxGCOieg09lgy2u84hvRXsaafHeFd7xrx4eHOfHpSTS1IrqpqgtyxctX7NaLiPQGdNM3LX/pubembed?start=false&loop=false&delayms=3000"
  />
</section>
