---
import TutorialEmbed from "./TutorialEmbed.astro";
---

<section>
  <h2 class="text-2xl font-semibold text-gray-800 mb-6">
    Cómo firmar digitalmente: paso a paso 
  </h2>

  <TutorialEmbed
    title="Con Adobe Acrobat Reader"
    description="Guía paso a paso para firmar documentos utilizando Adobe Acrobat Reader DC."
    embedUrl="https://docs.google.com/presentation/d/e/2PACX-1vSvMfE7Xtoy9LMOrPXxR3ADhho2d2MsCmwVYx0XwQ3VTt2Gy9nVWwI_EcHXDEx4bUz0SkFOnWXOrrXW/pubembed?start=false&loop=false&delayms=3000"
  />
  <TutorialEmbed
    title="Cómo instalar el Certificado Raíz de la AC ONTI"
    description="Pasos necesarios para validar firmas digitales correctamente."
    embedUrl="https://docs.google.com/presentation/d/e/2PACX-1vSvMfE7Xtoy9LMOrPXxR3ADhho2d2MsCmwVYx0XwQ3VTt2Gy9nVWwI_EcHXDEx4bUz0SkFOnWXOrrXW/embed?start=false&loop=false&delayms=3000"
  />
</section>
